@charset "utf-8";
/* CSS Document */

body{
    background: repeating-linear-gradient(
        150deg,     /* 角度の指定 */
        #000,      /* 色A ... 開始 */
        #000 3px,  /* 色A ... 終了 */
        white 10px,      /* 色B ... 開始 */
        white 10px   /* 色B ... 終了 */
    );
}

header{
    
    background-color:rgba(200,200,200,0.7);
}
main{
    /* background-image :url("logo/background/blackBox.png");
    font-style: italic;
    color:white;
    padding-left:5px; */
    background-color:rgba(200,200,200,0.7);
    
    /* 文字の設定 */
    font-size: 20px;
    font-weight:bold;
    color:greenyellow;
    -webkit-text-stroke: 0.3px #000;
}
footer{
    /* background-image :url("logo/background/blackBox.png");
    background-color:rgba(255,255,255,0.3); */
	background-color:rgba(200,200,200,0.7);

}
    

/*header*/
#adjustPrecautions{ 
    margin-bottom:-30px;
}

a{
    text-decoration: none;
}

#MyLogo{
    height:150px;
    
}

.global-header_main_list{
    display:flex;
	justify-content:space-around;
}

/*/header*/
h2 img{
    float:left;
    
}
span{
    font-size:110px;
   vertical-align: middle;
   font-family: Impact,Charcoal;
   letter-spacing: 0.5em;
   
}

#product {
    
    display:flex;
    justify-content:start;
}

#result img{
    height:100px;
    padding:3px;
}




/*footer*/

.pageTop img{
    height:100px;
}

#footerLinks img{
    height:80px;
    

	    
}

#footerSNS {
    
    height:100px;
    /* background-color:white; */
}
/*/footer*/